name: Build & Release Binary

on:
  push:
    tags:
      - v*

jobs:
  build_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Set up UPX
        uses: crazy-max/ghaction-upx@v3
        with:
          install-only: true
      - name: Get Tag
        run: TAG=$(git describe --tags)
      - name: Build with GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}